@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>Produtos</h2>

<div id="productList" align="center" width="100%">
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Marca</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ProductList">
            <tr>
                <td>
                    <a href="#">
                        <img data-bind="attr:{src: UrlImagem}" />
                    </a>
                </td>
                <td>
                    <p data-bind="text:Marca" align="center"></p>
                </td>
                <td>
                    <p data-bind="text:Preco" align="center"></p>
                </td>
            </tr>
        </tbody>
        <tfoot id="pages">
            <tr>
                <td colspan="3">
                    <div align="center">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script src="~/Scripts/knockout-2.1.0.js"> </script>
<script src="~/js/ProductViewModel.js"></script>
