@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>Produtos</h2>

<div align="center">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <a href="#">
                        <img src="~/Images/products/camisa1.jpg" />

                        <p align="center">R$ 150,00</p>
                    </a>
                </td>
                <td><a href="#">
                    <img src="~/Images/products/camisa2.jpg" />
                    <p align="center">R$ 170,00</p>
                </a>
                </td>
                <td>
                    <a href="#">
                        <img src="~/Images/products/camisa3.jpg" />
                        <p align="center">R$ 200,00</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <img src="~/Images/products/tenis1.jpg" />
                        <p align="center">R$ 120,00</p>
                    </a>
                </td>
                <td><a href="#">
                    <img src="~/Images/products/tenis2.jpg" />
                    <p align="center">R$ 250,00</p>
                </a>
                </td>
                <td><a href="#">
                    <img src="~/Images/products/tenis3.jpg" />
                    <p align="center">R$ 170,00</p>
                </a>
                </td>
            </tr>
        </tbody>

        <tfoot id="pages">
            <tr>
                <td colspan="3">
                    <div align="center">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
